body {
    max-width: 1270px;
    margin: 0 auto;
    background-image: url(./images/BG.jpg);
    color: whitesmoke;
}

.hero-section {

    display: flex;
    padding: 30px;
    font-size: 1.5em;
    color: whitesmoke;
    background-color: rgba(99, 97, 97, 0.452);

}

.hero {

    justify-content: space-between;
}

.hero-section img {
    width: 380px;
    height: 380px;
    border-radius: 50%;
    box-shadow: -5px -5px 13px 10px rgb(4, 255, 222);
}

.hero-section a {
    font-weight: bold;
    border: 2px solid rgb(38, 31, 138);
    box-shadow: 3px 2px 3px rgb(4, 255, 222);
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    padding: 10px;

}

.hero-section a:hover {
    background-color: burlywood;
}

nav ul {
    display: flex;
}

nav li {

    list-style: none;
    margin-right: 50px;
    padding: 3px;
    border: 2px solid rgb(38, 31, 138);
    box-shadow: 3px 2px 3px rgb(4, 255, 222);
}

nav li a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    padding: 10px;

}

nav li:hover {
    background-color: burlywood;
}