table td, th{
border: 1px solid rgb(41, 199, 247);
padding: 10px 30px;
}
table{
     border-collapse: collapse;
     margin: auto;
     justify-content: center;
}

caption{
color: aqua;
height: 50px;
padding: 10px;
font-size: x-large;
text-align: center;

}