.card-container {
    display: flex;
    gap: 35px;

}


.card {

    border: 5px solid rgb(38, 31, 138);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 7px 5px 7px rgb(4, 255, 222);




}

.card img {
    width: 100%;
    border: 5px solid lightblue;
    border-radius: 50%;
}


.name {
    font-size: 35px;
}

.job-title {
    font-size: 25px;

}

.desc {
    font-size: medium;


}

.contact {
    border: 2px solid rgb(38, 31, 138);
    box-shadow: 3px 2px 3px rgb(4, 255, 222);
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    padding: 10px;

}