.card-container {
    display: flex;
    gap: 35px;

}


.card {

    border: 5px solid rgb(38, 31, 138);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 7px 5px 7px rgb(4, 255, 222);




}

.card img {
    width: 100%;
    border: 5px solid lightblue;
    border-radius: 50%;
}


.name {
    font-size: 35px;
}

.job-title {
    font-size: 25px;

}